@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 30);
    font-family: 'Oswald', serif;

}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    z-index: 100;
}

#initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#contact-form-holder{
    font-size: 16px;
    padding: 15px 15px 30px;
    border: 1px solid white;
    background-color: rgb(25, 25, 30);

}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form .control {

    padding: 15px;

    border: none;
    border-bottom: 1px solid white;

    background-color: rgb(25, 25, 30);
    font-size: 16px;
    color: white;
    width: 450px;

    margin-bottom: 15px;
}


#me {
    font-family: 'Oswald', serif;
    line-height: 0.3;
    text-align: center;
}

#me:after {
    z-index: 100;
    content: "";
    width: 75%;
    display: inline-block;
}

#social {
    padding-top: 10px;
    display: flex;
    flex-direction: row;

}

#social i{
    padding: 5px;
}

#social a {
    text-decoration: none;
    color: whitesmoke;

}

.buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.btn {
    padding: 10px;
    width: 20%;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(25, 25, 30);


}

.btn:hover {
    background-color: rgb(25, 25, 30);

}

h1{
    color: white;
}

h4{
    color: ghostwhite;
}

html{
    overflow: hidden;
}

canvas{
    position: absolute;
    z-index: 10;
}

footer{
    font-family: 'Oswald', serif;
    position: absolute;
    bottom: 20px;
}

textarea {
    resize: none;
    height: 300px;

}



